* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
.contenedor {
  width: 90%;
  max-width: 800px;
  margin: auto;
}
